html[theme="dark-mode"] {
  filter: invert(100%) hue-rotate(180deg);
}

* {
  user-select: none;
  outline: none;
}

body {
  background-color: white;
}

.main-container {
  width: 1050px;
  margin: auto;
}

.menu {
  display: flex;
  height: 34px;
}

.switch {
  position: relative;
  width: 60px;
  height: 100%;
}

.switch__input {
  display: none;
}

.switch__slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: gray;
  border-radius: 34px;
  cursor: pointer;
  transition: 0.4s;
}

.switch__slider::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;

  width: 26px;
  height: 26px;

  background-color: white;
  border-radius: 50%;
  transition: 0.5s;
}

.switch__input:checked + .switch__slider {
  background-color: black;
}

.switch__input:checked + .switch__slider::after {
  transform: translateX(26px);
}

.select-box {
  margin-left: 60px;
}

#font {
  width: 200px;
  height: 100%;
  padding: 2px 5px;
  font-size: 0.9rem;
}

.input-container {
  margin: 100px 0px;
}

.input {
  width: 1050px;
  height: 50px;

  border: none;
  border-bottom: 2px solid lightgrey;

  font-size: 30px;
  text-align: center;
}

.error-message {
  display: none;
  margin-top: 10px;

  color: #cc0033;
  font-size: 30px;
  text-align: center;
}

.error .input {
  border-bottom: 2px solid #cc0033;
}

.error .error-message {
  display: block;
}

.keyboard-container {
  width: 1050px;
  border-radius: 4px;

  background-color: gray;
  color: gray;
}

.row {
  display: flex;
}

.key {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  width: 60px;
  height: 60px;
  margin: 5px;
  border-radius: 4px;

  background-color: white;
  cursor: pointer;
  transition: 0.2s;
}

.key:hover {
  background-color: lightgray;
}

.key.active {
  background-color: #333;
  color: #fff;
}

.value {
  width: 100%;
  text-align: center;
}

.key--backspace {
  width: 130px;
}

.key--tab {
  width: 95px;
}

.key--backslach {
  width: 95px;
}

.key--capslock {
  width: 110px;
}

.key--enter {
  width: 150px;
}

.key--shiftleft {
  width: 145px;
}

.key--shiftright {
  width: 185px;
}

.key--function {
  width: 80px;
}

.key--space {
  width: 420px;
}
